@use "./Submenus/Icons";
.container {
  display: flex;
  align-items: center;
  padding: var(--padding-sm);
  border-bottom: 1px solid rgb(211, 211, 211);
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  svg {
    font-size: 1.2rem;
  }
}
button{
  border: none !important;
  padding: .5rem !important;
} 
ul li span{
  justify-content: center;
}
.burger_container {
  display: none;
  cursor: pointer;
  padding: 0.2rem;

  @media screen and (max-width: 1024px) {
    display: flex;
  }

  svg {
    font-size: 1.8rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  gap: 0.5rem;
  z-index: -1;
  align-items: center;

  @media screen and (max-width: 360px) {
    justify-content: flex-start;
    margin-left: 1rem;
  }
}
