@use "./Icons" as *;
.notifications_container {
  position: relative;
}

.notifications_container .submenu {
  position: absolute;
  right: -3rem;
  bottom: -0.5rem;
  -webkit-transform: translateY(95%);
          transform: translateY(95%);
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.24);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

@media screen and (max-width: 600px) {
  .notifications_container .submenu {
    right: 60%;
    -webkit-transform: translateY(95%) translateX(60%);
            transform: translateY(95%) translateX(60%);
  }
}

@media screen and (max-width: 420px) {
  .notifications_container .submenu {
    right: -2rem;
  }
}

.notifications_container .submenu .title {
  font-size: 1.2rem;
  color: #282828;
  font-weight: 500;
  margin: var(--margin-xxs) 0;
  padding-left: 0.8rem;
}

.notifications_container .submenu .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  height: 180px;
  overflow-y: scroll;
}

.notifications_container .submenu .notifications .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background ease-in-out 300ms;
  transition: background ease-in-out 300ms;
  padding: 0.5rem 0.8rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 400px) {
  .notifications_container .submenu .notifications .notification {
    width: 20rem;
  }
}

.notifications_container .submenu .notifications .notification:hover {
  background: lightgrey;
}

.notifications_container .submenu .notifications .notification_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #282828;
}

.notifications_container .submenu .notifications .notification p {
  font-weight: 400;
  font-size: 0.8rem;
  width: 100%;
  margin-bottom: 0;
}

.notifications_container .submenu .notifications .notification_date {
  margin-top: var(--margin-xxs);
  font-size: 0.7rem;
  color: #b8b8b8;
  font-weight: 400;
}

.notifications_container .submenu .notifications .notification:last-child {
  margin-bottom: 4px;
}

.notifications_container .submenu_active {
  opacity: 1;
  pointer-events: initial;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (max-width: 600px) {
  .notifications_container .submenu_active {
    right: 60%;
    -webkit-transform: translateY(100%) translateX(60%);
            transform: translateY(100%) translateX(60%);
  }
}

@media screen and (max-width: 420px) {
  .notifications_container .submenu_active {
    right: -2rem;
  }
}
/*# sourceMappingURL=Notifications.module.css.map */