
.navbar_container {
  --color_nav_bg: rgba(255, 255, 255, 1);
  --color_nav_txt: rgba(255, 255, 255, 1);
  --color_nav_ctg: rgb(40, 40, 40);
  --color_nav_active: rgba(255, 255, 255, 1);
  --color_nav_not_active: rgba(40, 40, 40, 1);
  --color_nav_active_bg: rgba(52, 153, 255, 1);
  --nav_width: 18rem;

  background: var(--color_nav_bg);
  height: 100vh;

  // padding: var(--padding-xs) 0;
  transition: transform 300ms ease-in-out;

  @media screen and (max-width: 1024px) {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
  }

  @media screen and (max-width: 18rem) {
    width: 100vw;
  }
}
.logo {
  height: 83px;
    // background: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
}
.settings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  // padding-left: 3.2rem;
  background: #f5f5f5;
  border-radius: 10px;
  a {
    color: #282828 !important;
    font-size: 14px;
    text-decoration: none;
    padding: 0.4rem 0.25rem 0.4rem 3.2rem;
    margin: 0.2rem;

    &:hover {
      background: rgba(196, 196, 196, 0.2);
    }
    &:before{
      content: "-";
    }
  }
}
.menu_container {
  a:hover,
  .active {
    color: #3499ff;
  }
}
.navbar_mobile_active {
  @media screen and (max-width: 1024px) {
    transform: translateX(0);
  }
}

nav {
  position: relative;
  width: var(--nav_width);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: width linear 0.3s;

  &::-webkit-scrollbar {
    display: none;
  }
}

.profileav img {
  border-radius: 100% !important;
}
.menu_container {
  // margin-top: var(--margin-lg);
  display: flex;
  flex-direction: column;
  // gap: 0.3rem;
  padding-left: 0rem;
}

.categories {
  color: var(--color_nav_txt);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: var(--margin-xxs);

  svg {
    font-size: 1rem;
  }
}

.second_category {
  margin-top: 3rem;
}
// .li_navlink span{
//   border-bottom: 0.5px solid #C7C5C5;
// }
.li_navlink span {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0.7rem 0rem;
  text-decoration: none;
  color: var(--color_nav_ctg);
  transition: all ease-in-out 0.2s;

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
    letter-spacing: 0.02em;
    transition: opacity 200ms ease;
  }

  svg {
    font-size: 1.2rem;
    color: #282828;
    flex-shrink: 0;
  }
 

  &:hover {
    // background: var(--color_nav_active_bg);
    color: #fff;
    background: #3499ff;
  }

  &:hover svg,.active svg {
    color: #fff;
  }
  // &:nth-child(odd):before {
  //   content: "";
  //   width: 90%;
  //   bottom: -25px;
  //   left: 5%;
  //   height: 2px;
  //   background: blueviolet;
  //   position: absolute;
  // }
}

.sidetabsactive{
  svg {
    color: #fff;
  }
  .settings{
    margin:.5rem 1rem;
    background: #FFFFFF;
    border: 1px solid #F3F4F6;
    border-radius: 4px;
  }
}

.li_navlink  {
  margin: 5px 10px 0px 10px;
  // background: var(--color_nav_active_bg);
  .active,.active svg  {
    color: #fff;
    background: #3499ff;
  }
  .arrow{
    position: absolute;
    right: 1%;
  }
 

  
}

.btn_logout {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  transition: all ease-in-out 200ms;
  padding: 0.5rem 0.75rem 0 0.75rem;

  svg {
    font-size: 1.5rem;
    // color: var(--color_nav_active);
    cursor: pointer;
    transform: scaleX(-1);
  }
}

.mobile_nav_background_active {
  width: 0;
  height: 100vh;
  transition: all ease-out 500ms;
  transition-delay: 300ms;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    display: block;
    position: absolute;
    top: 0;
    left: calc(var(--nav_width) + 0px);
    width: calc(100vw - var(--nav_width) - 0px);
    background: rgba(0, 0, 0, 0.185);
    z-index: -1;
  }
}

//NAVIGATION SMALL
.nav_small {
  width: 3rem;

  .categories {
    padding: 0 1rem;
  }
  .description {
    opacity: 0;
  }

  .btn_logout {
    svg {
      transform: scaleX(1);
    }
  }
}

.drowpdownicon:not(:first-of-type){
  position: absolute;
  right: 1%;

}
hr{
  width: 90%;
  // margin: 0px auto !important;
  border-bottom: 1px solid rgb(211, 211, 211);
}