@import "--var.scss";
@import "--mixing.scss";
@media (max-width: 576px) {
  .page_top_nav_div_top {
    border: 0;
    display: block;
    border-radius: 0;
  }
  .page_top_nav_link {
    border: 1px solid $blue2;
    margin-right: 5px;
  }
  .MyTabel_top_div {
    display: block;
  }
  .custom_container {
    padding: 10px;
  }
  .page_top_nav {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .MyTabel_top_div {
    display: block;
  }
}
@media (min-width: 1024px) {
  .MyTabel_top_div {
    display: inline-table;
  }
}
@media (min-width: 1440px) {
}
