@import "--var.scss";
@import "--mixing.scss";
@media (max-width: 576px) {
  .nvoices_details_tabel_MyTabel_top_div {
    white-space: nowrap;
    display: block;
  }
  .inner_pages_top_title {
    font-size: 16px;
  }
  .Job_Details_totle_text {
    .inner_title {
      font-size: 12px;
    }
  }
  .Job_Details_title_ul_color_3 {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .Job_Details_title_divder {
    display: none;
  }
  .Job_Details_title_ul {
    .title {
      font-size: 12px;
    }
    .details {
      font-size: 12px;
    }
  }
  .add_received_payment_form_title {
    p {
      text-align: center;
    }
  }
  .Job_Payment_Management_top_nav {
    .page_top_nav_div_top {
      .page_top_nav_link {
        border-radius: 5px;
      }
    }
  }
  .page_tab_top_div {
    overflow-x: scroll;
    width: 100%;
    .page_top_nav_link {
      width: 13rem;
    }
  }
  .bank_details_input_main_div {
    display: block;
  }
  .bank_details_input_div {
    .Customer_date_div {
      display: block;
      label {
        margin-bottom: 7px;
        position: relative;
        left: 0;
      }
      .MuiFormControl-root {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  .list_btn_dropdown .dropdown-menu {
    margin-left: 0rem !important;
  }
  .table_main_div {
    .dataTables_length {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_length select {
    width: 9rem;
    margin-left: 10px;
  }
  .Customer_date_div {
    label {
      font-size: 14px;
    }
  }
  .table_main_div {
    .dataTables_filter {
      display: flex;
      justify-content: flex-end;
    }
  }
  .page_top_nav_div_top {
    border: 0;
    display: block;
    border-radius: 0;
  }
  .page_top_nav_link {
    border: 1px solid $blue2;
    margin-right: 5px;
  }
  .MyTabel_top_div {
    display: block;
  }
  .custom_container {
    padding: 10px;
  }
  .page_top_nav {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .invoices_details_tabel_td_text_td_top {
    width: 16rem;
  }
  .Job_Details_title_ul_color_3 {
    padding-left: 12px;
  }
  .Job_Details_title_divder {
    display: none;
  }
  .bank_details_input_div {
    .Customer_date_div {
      .MuiFormControl-root {
        width: 20rem;
      }
    }
  }
  .Customer_date_div {
    label {
      font-size: 14px;
    }
  }
  .table_main_div {
    .dataTables_filter {
      input {
        width: 10rem;
      }
    }
  }
  .MyTabel_top_div {
    display: block;
  }
  .Customer_date_div {
    .MuiFormControl-root {
      width: 10rem;
    }
  }
  .out_line_btn {
    font-size: 12px;
  }
  .BlueBtn {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .invoices_details_tabel_td_text_td_top {
    width: 29rem;
  }
  .Job_Details_title_ul_color_3 {
    padding-left: 2px;
  }
  .Job_Details_title_divder {
    display: block;
  }
  .bank_details_input_div {
    .Customer_date_div {
      .MuiFormControl-root {
        width: 35rem;
      }
    }
  }
  .Customer_date_div {
    label {
      font-size: 11px;
    }
  }
  .BlueBtn {
    font-size: 14px;
  }
  .out_line_btn {
    font-size: 14px;
  }
  .Customer_date_div {
    .MuiFormControl-root {
      width: 10rem;
    }
  }
  .table_main_div {
    .dataTables_filter {
      input {
        width: 10rem;
      }
    }
  }
  .MyTabel_top_div {
    display: inline-table;
  }
}
@media (min-width: 1440px) {
  .table_main_div {
    .dataTables_filter {
      input {
        width: 12rem;
      }
    }
  }
  .Customer_date_div {
    label {
      font-size: 14px;
    }
    .MuiFormControl-root {
      width: 12rem;
    }
  }
}
