@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  --margin-xl: 4rem;
  --margin-lg: 3rem;
  --margin-md: 2rem;
  --margin-sm: 1rem;
  --margin-xs: 0.8rem;
  --margin-xxs: 0.5rem;

  --padding-xl: 4rem;
  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;
  --padding-xs: 0.8rem;
  --padding-xxs: 0.5rem;

  font-family: "IBM Plex Sans";
  overflow: hidden;
  background: rgb(240, 244, 248);
}

.App {
  display: flex;
}

.subscribebadge {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.subscribeLink {
  color: #ef2870;
}

/* USERMANAGEMENT */

.tabpillsscroll {
  width: 100%;
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  border: 0.5px solid #139ee3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.tabpillsscroll .nav-link {
  width: 140px !important;
  text-align: center;
  border-radius: 4px !important;
}

.pagetitle h1 {
  font-size: 20px;
}

.datePickinput input {
  background: #ffffff;
  border: 0.5px solid #139ee3;
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
  width: 100%;
}
.datePickinput {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #282828;
}

/* /MEDIA QUERIES/ */
